<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="1">
    <test name="Spotify API Tests" verbose="2" preserve-order="true">
        <classes>
            <class name="com.spotify.test.TrackTests">
                <methods>
                    <include name="testSearchTrack"/>
                    <include name="testGetArtistAlbums"/>
                    <include name="testGetTrackDetails"/>
                    <include name="testMyTrack"/>
                    <include name="testPlaylistTrack"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
